html {
  --color-sunshine-silver: #b7d0f8;
  --color-sunshine-violet: #cfbff9;
  --color-sunshine-blue: #82a6f7;
  --color-sunshine-cyan: #a6fcf5;
  --color-sunshine-lavendar: #cbaeff;
  --trans-white-light: rgba(255,255,255,0.3);
  --radius-sm: 0.25rem;
}
body {
  position: relative;
  background-image: linear-gradient(140deg, var(--color-sunshine-cyan) 0%, var(--color-sunshine-violet) 50%, var(--color-sunshine-lavendar) 75%);
  overflow-x: hidden;
  color: rgba(0,0,0,0.85);
}
#sun {
  position: absolute;
  width: 100%;
  height: 50vw;
  left: 0;
  top: 0;
  background-image: radial-gradient(closest-side at 55% 50%, rgba(255,165,0,1), rgba(255,255,0,0.8), transparent);
  transform: translate(-85%, -85%);
  transition: 3s ease;
}
#clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(153,153,153,0.7);
  transition: 3s ease;
}
header,
section,
footer {
  z-index: 1;
}


.text-trans {
  color: rgba(0,0,0,0.8);
}
.border-trans {
  border-color: rgba(0,0,0,0.1) !important;
}


.btn-sunshine {
  border-color: rgba(190, 190, 190, 0.5) !important;
  background-color: rgba(255,255,255,0.45) !important;
  border-radius: var(--radius-sm);
}
.btn-sunshine:hover {
  background-image: linear-gradient(140deg, var(--color-sunshine-cyan) 0%, var(--color-sunshine-violet) 50%, var(--color-sunshine-lavendar) 75%);
  background-size: 400%;
  background-position: top;
  border-color: rgba(190, 190, 190, 0.5) !important;
}


#healthEmojis {
  background: var(--trans-white-light);
  max-width: 280px;
  border-radius: var(--radius-sm);
}
#healthEmojis svg {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  margin-top: -3px;
  fill: rgba(0,0,0,0.2);
}
.bi-emoji-dizzy.active,
.bi-emoji-dizzy:hover {
  fill: rgb(111 0 0) !important;
}
.bi-emoji-angry.active,
.bi-emoji-angry:hover {
  fill: rgb(198 18 18) !important;
}
.bi-emoji-frown.active,
.bi-emoji-frown:hover {
  fill: rgb(203 74 10) !important;
}
.bi-emoji-neutral.active,
.bi-emoji-neutral:hover {
  fill: rgb(195 141 2) !important;
}
.bi-emoji-smile.active,
.bi-emoji-smile:hover {
  fill: rgb(118 171 3) !important;
}
.bi-emoji-laughing.active,
.bi-emoji-laughing:hover {
  fill: rgb(75 165 15) !important;
}
.bi-emoji-sunglasses.active,
.bi-emoji-sunglasses:hover {
  fill: rgb(27 135 0) !important;
}


.card {
  position: relative;
  border-radius: 0.6rem;
  overflow: hidden;
  background-color: var(--trans-white-light);
}
.card-title {
  margin-right: -20px;
}
.card-title svg {
  margin-top: -5px;
}
.card-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(47,64,72,0.2);
}
.card-disabled .coming-soon {
  position: absolute;
  bottom: 0.85rem;
  left: 1.65rem;
  letter-spacing: 0.015rem;
  font-size: 0.9rem;
}
@media screen and (min-width: 992px) {
  .card-disabled .coming-soon {
    bottom: 2.8rem;
  }
  .card-buttons {
    min-height: 31px;
  }
}


select {
  margin-top: -5px;
  background-color: var(--trans-white-light) !important;
  border-radius: var(--radius-sm) !important;
  border-color: rgba(190, 190, 190, 0.5) !important;  
}
select:disabled {
  background-color: rgba(255,255,255,0.1) !important;
  color: rgba(0,0,0,0.5);
}
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  transform: scale(.75) translateY(1.5rem) translateX(0rem);
}
.form-floating>label {
  margin-right: -55px;
  margin-left: 2px;
  text-align: center;
}
@media screen and (max-width: 767.8px) {
  .form-floating>label {
    margin-left: -5px;
  }
}
.form-floating>label span {
  margin: auto 0;
}
.form-floating>.form-select {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.form-floating>.form-control,
.form-floating>.form-select {
  height: auto;
  line-height: inherit;
}


.progress-label {
  margin-bottom: 0.25rem;
  margin-top: 0.45rem;
}
.progress {
  background-color: rgba(255,255,255,0.5);
  border-radius: var(--radius-sm);
}
.progress .bg-warning {
  color: #333;
}
.progress .bg-success,
.progress .bg-warning,
.progress .bg-danger {
  --bs-bg-opacity: 0.85;
}
.progress .bg-trans {
  background-color: transparent;
}
.progress .progress-success {
  background-image: linear-gradient(
    45deg,rgba(25, 135, 84, 0.15) 25%, transparent 25%, transparent 50%, rgba(25, 135, 84, 0.15) 50%, rgba(25, 135, 84, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}
.progress .progress-warning {
  background-image: linear-gradient(45deg,rgba(255, 193, 7, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 193, 7, 0.15) 50%, rgba(255, 193, 7, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}
.progress .progress-danger {
  background-image: linear-gradient(45deg,rgba(220, 53, 69, 0.15) 25%, transparent 25%, transparent 50%, rgba(220, 53, 69, 0.15) 50%, rgba(220, 53, 69, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}


.placeholder,
.placeholder:hover {
  cursor: default;
  height: 2.04rem;
  opacity: 0.4;
  border-radius: var(--radius-sm);
}
.placeholder>* {
  display: none;
}


.modal-content {
  background-color: rgb(247 248 255);
}
.modal-body {
  margin-top: -1.5rem;
}
.modal-body h1,
.modal-body h2,
.modal-body h3,
.modal-body h4,
.modal-body h5,
.modal-body h6 {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  letter-spacing: 0.015rem;
}
.modal-body p {
  line-height: 1.7rem;
}
.modal-body li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.modal-body img {
  margin: 5px;
  max-height: 250px;
  max-width: calc(100% - 10px);
  display: block;
}


.contribute svg {
  margin-top: -4px
}

